<div class="contenedor">
<div class="container">
    <div class="d-flex justify-content-center mt-5" *ngIf="loading">
        <app-spinner></app-spinner>
    </div>
    <div class="row" *ngIf="!loading">
        <div class="col-lg-6 offset-lg-3">
            <div class="card">
                <div class="card-body">
                    <h3 class="text-center titulo">
                        Recuperar contraseña
                    </h3>
                    <form [formGroup]="recuperarForm"  (ngSubmit)='recuperarPassword()'>
                        <div class="mb-3">
                            <input type="text" formControlName="usuario" class="form-control form-control-lg" placeholder="Ingrese su correo...">

                        </div>
                        <span class="text-danger mb-3"
                        *ngIf="recuperarForm.get('usuario')?.hasError('required') && recuperarForm.get('usuario')?.touched">
                        El correo <strong>es requerido</strong>
                    </span>
                    <span class="text-danger  mb-3"
                        *ngIf="recuperarForm.get('usuario')?.hasError('email') && recuperarForm.get('usuario')?.touched">
                        El correo <strong>es invalido</strong>
                    </span>
                    <button [routerLink]="['/usuario']" routerLinkActive="router-link-active"  class="btn btn-secondary btn-lg">Volver</button>
                    <button class="btn btn-primary btn-lg float-end" [disabled]='recuperarForm.invalid' type="submit">Aceptar</button>
                    </form>
                   
                </div>
            </div>
        </div>
    </div>
</div>
</div>